.login {
  margin-top: 0;
  margin-bottom: 0;
  min-height: calc(100vh);
  min-width: 100%;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
