.card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  margin: 0 auto;
}

/* .card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
} */

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

.disabled {
  display: none
}

@media screen and (max-width: 768px) {
  .card {
    height: 122px !important;
    width: 22%;   
  }
}

@media screen and (max-width: 576px) {
  .card {
    height: 88px !important;
    width: 18%;   
  }

  .friendImg {
    padding-top: 28px !important;
  }

  .card span {
    padding: 10px !important;
    font-size: 0.5rem !important;
  }
}